*{
  margin: 0;
  padding: 0;
}

main{
  display: flex;
  gap: 20px;
  padding: 20px;
  width: auto;
  margin: 10px;
 background-color: orange;
}

section{
  height: 100px;
  background-color: steelblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis:80px;
}

#section-1{
  flex-grow: calc(1/5);
}

#section-2{
  flex-grow: calc(2/5);
}

#section-3{
  flex-grow: calc(3/5);
}

#section-4{
flex-grow: calc(3/5);
}

#section-5{
  order: -1;
  flex-grow: calc(1/5);
}