* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}

.item {
display: flex;
align-items: center;
justify-content: center;
border: 1px solid black;
  background-color: white;
  height: 180px;
  width: 180px;
}